* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
  background: linear-gradient(to right top, #6765df, #e16ceb);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  .glass {
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.1)
    );
    // border: 0.5px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2rem);
    border-radius: 1rem;
    z-index: 3;
  }
  .circle1,
  .circle2 {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.8)
    );
    position: absolute;
    z-index: 2;
  }
  .circle1 {
    top: 5%;
    right: 5%;
  }
  .circle2 {
    bottom: 2%;
    left: 5%;
  }
}
