@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

i {
  font-size: 1.5rem;
}

h3 {
  font-weight: 400;
}

main {
  min-height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#6765df), to(#e16ceb));
  background: linear-gradient(to right top, #6765df, #e16ceb);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

main .glass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  width: 60%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  border-radius: 1rem;
  z-index: 3;
}

main .circle1,
main .circle2 {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
  position: absolute;
  z-index: 2;
}

main .circle1 {
  top: 5%;
  right: 15%;
}

main .circle2 {
  bottom: 5%;
  left: 15%;
}

main .dashboard {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.1)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .dashboard .profile i {
  font-size: 2rem;
}

main .dashboard .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .dashboard .links .link h3 {
  margin: 0rem 2rem;
}

main .dashboard .profile-cta {
  background: -webkit-gradient(linear, left bottom, right top, from(#6765df), to(#e16ceb));
  background: linear-gradient(to right top, #6765df, #e16ceb);
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 5rem;
  position: relative;
  -webkit-box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
          box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
}

main .dashboard .profile-cta img {
  position: absolute;
  width: 5rem;
  top: 0;
  right: 0;
}

main .skills {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

main .skills .title {
  font-size: 1.2rem;
  padding: 2rem;
}

main .skills .cards {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .skills .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  border-radius: 1rem;
  margin: 0.5rem 0rem;
  padding: 1rem;
  -webkit-box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
          box-shadow: 6px 6px 10px rgba(122, 122, 122, 0.2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .skills .cards .card i {
  font-size: 3rem;
}

main .skills .cards .card .card-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .skills .cards .card .card-info .progress-bar {
  height: 25%;
  border-radius: 0.5rem;
  background: -webkit-gradient(linear, left bottom, right top, from(#6765df), to(#e16ceb));
  background: linear-gradient(to right top, #6765df, #e16ceb);
  position: relative;
  overflow: hidden;
}

main .skills .cards .card .card-info .progress-bar::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 80%;
}
/*# sourceMappingURL=style.css.map */